notas.txt
tempo.exe
logs.txt
main.exe
dados.db
import.sql
dadosBin
autosave.bin
config.txt
database.xml
carros.csv
distancias.csv
donos.csv
sensores.csv
viagens.csv
carros.html
distancias.html
donos.html
sensores.html
viagens.html
verificarMarca.py
